.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media print {
  .noprint {
    display: none !important;
  }

  .question-pager {
    padding: 0 !important;
    border: none !important;
    width: auto !important;
    box-shadow: none !important;
    width: 27cm !important;
  }

  .question-cont {
    width: 27cm !important;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-cont {
  margin-top: 20px;
}

.question-pager {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.temp-123 {
  position: fixed;
  left : 400px;
  top: 200px;
  font-size: 500px;
}